<div class="wrapper preload">
	        
    <%= render 'shared/right_sidebar.html.erb' %>	
    <%= render 'shared/header' %>	
	<%= render 'shared/side_menu' %>			

    <div class="main-container">
        <div class="padding-md">
          <h2 class="header-text">Add a Pokemon Go account</h2>
        </div>
        <div class="padding-md">
        </div>
    </div>
</div>
