<div class="wrapper preload">
	        
    <%= render 'shared/right_sidebar.html.erb' %>	
    <%= render 'shared/header' %>	
	<%= render 'shared/side_menu' %>			

    <div class="main-container">
        <div class="padding-md">
          <h2 class="header-text">Import Pokemon data <span class="sub-header"></span></h2>
          <%= render partial: 'import_form' %>
        </div>
    </div>
</div>
