<footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">Go Sober</strong>
				</span>
				<p class="no-margin">
					&copy; 2016 <strong>Go Sober</strong>. All Rights Reserved. 
				</p>	
			</footer>

