<aside class="sidebar-menu fixed">
				<div class="sidebar-inner scrollable-sidebar">
					<div class="main-menu">
						<ul class="accordion">
							<li class="menu-header">
								Main Menu
							</li>
							<li class="bg-palette5 active">
								<a href="<%= pokemons_path(poke_auth_id: PokeAuth.default.id)  %>">
									<span class="menu-content block">
										<span class="menu-icon"><img src="<%= image_path('pokeball.svg') %>" width="20" style="padding: 0; margin: 0;" /></span>
										<span class="text m-left-sm">Pokemon</span>
									</span>
									<span class="menu-content-hover block">
										Pokemon
									</span>
								</a>
							</li>
   						    <li class="bg-palette5">
								<a href="<%= poke_auths_path %>">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-lock"></i></span>
										<span class="text m-left-sm">Accounts</span>
									</span>
									<span class="menu-content-hover block">
										Accounts
									</span>
								</a>
							</li>
</ul>
					</div>	
				</div><!-- sidebar-inner -->
			</aside>

