<div class="wrapper preload">
	        
    <%= render 'shared/right_sidebar.html.erb' %>	
    <%= render 'shared/header' %>	
	<%= render 'shared/side_menu' %>			

    <div class="main-container">
        <div class="padding-md">
          <h2 class="header-text">Pokemon</h2>
          <p>You haven't added a Pokemon Go account yet.<br />To begin, click the button to add one.</p>
          <p><%= link_to "Add a Pokemon Go account", new_poke_auth_path, class: 'btn btn-lg btn-primary' %></p>
        </div>
    </div>
</div>
